Inventory IT Support - V3 Complete.json
{
  "name": "Inventory IT Support - V3 Complete",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "487917c4-dc73-44b9-af25-4b088466e89c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        528
      ],
      "retryOnFail": false,
      "webhookId": "1fe22aa5-c137-4e4b-bfba-f6b5b3e61844",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Message — robust version\nconst text = ($json.message && $json.message.text) ? $json.message.text.trim() : \"\";\nconst parts = text.split(/\\s+/);\n\n// raw command: parts[0] may be \"/restock\" or \"/restock@Jembot_Bot\"\nlet rawCmd = (parts[0] || \"\").toLowerCase();\n\n// remove leading slash if present\nif (rawCmd.startsWith(\"/\")) rawCmd = rawCmd.slice(1);\n\n// remove bot mention suffix if present (e.g. \"command@mybot\")\nif (rawCmd.includes(\"@\")) rawCmd = rawCmd.split(\"@\")[0];\n\n// normalize aliases\nlet command = rawCmd;\nif (command === \"cek\" || command === \"stock\" || command === \"stok\") command = \"stock\";\nif (command === \"my\" || command === \"mystock\" || command === \"mystok\") command = \"mystock\";\nif (command === \"return\") command = \"kembali\"; // contoh alias lain\n\nconst id_item = parts.length > 1 ? parts[1].toUpperCase() : null;\nlet qty = null;\nif (parts.length > 2) {\n  const n = parseInt(parts[2], 10);\n  qty = Number.isFinite(n) && n > 0 ? n : null;\n}\n\n// default qty when relevant (e.g. /ambil item -> 1)\nif (command === \"ambil\" && qty === null) qty = 1;\nif (command === \"restock\" && qty === null) qty = 1;\n\n// unknown command if users send message except CRUD command\nconst allowed = ['restock','ambil','stock','mystock','kembali'];\nif (!allowed.includes(command)) command = 'unknown';\n\nreturn [{\n  telegram_id: $json.message.from.id,\n  chat_id: $json.message.chat.id,\n  command,\n  id_item,\n  qty,\n  raw_text: text\n}];"
      },
      "id": "74de702c-f307-4113-8aba-20f2103226ba",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        528
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, role, is_active FROM users WHERE telegram_id = '{{$json.telegram_id}}';",
        "options": {}
      },
      "id": "48183e14-239b-404c-be88-d47c727ace0b",
      "name": "Get User Role",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -720,
        528
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "0074e078-46d4-4948-b00c-fda324f9270b",
              "leftValue": "={{$items(\"Get User Role\").length > 0 && !!$items(\"Get User Role\")[0].json.id && Number($items(\"Get User Role\")[0].json.is_active || 0) === 1}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "7835fa99-49c6-424d-afbf-c27a8d14701c",
      "name": "If User Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -480,
        496
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "❌ Akses Ditolak. Anda belum terdaftar atau akun non-aktif.",
        "additionalFields": {}
      },
      "id": "7402cf80-8c52-4854-a557-2880d40dc1b9",
      "name": "Send Auth Failed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -256,
        608
      ],
      "retryOnFail": false,
      "webhookId": "d2f39302-f2e9-4199-a85f-f4b694b8190c",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Parse Message\"].json.command}}",
        "rules": {
          "rules": [
            {}
          ]
        },
        "fallbackOutput": 3
      },
      "id": "3b7324a2-02a1-4bbc-9a82-c206d70e4e50",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1168,
        1616
      ],
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$node['Get User Role'].json.role}}",
              "rightValue": "admin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "61df0fdc-0360-4075-a6b3-b1423202a884",
      "name": "If Admin (Restock)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "START TRANSACTION;\n\nINSERT INTO stock_gudang (item_code, quantity) VALUES ('{{$node['Parse Message'].json.id_item}}', {{$node['Parse Message'].json.qty}}) ON DUPLICATE KEY UPDATE quantity = quantity + VALUES(quantity);\n\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi) VALUES ({{$node['Get User Role'].json.id}}, '{{$node['Parse Message'].json.id_item}}', {{$node['Parse Message'].json.qty}}, 'RESTOCK', 'success');\n\nCOMMIT;",
        "options": {}
      },
      "id": "3d062e15-a2f0-4eab-99e6-b3b06ed7e8c7",
      "name": "Restock (Add to Gudang)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "=✅ Restock berhasil. Stok {{$node['Parse Message'].json.id_item}} bertambah sebanyak {{$node['Parse Message'].json.qty}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "407fe4be-7008-48bc-bbab-abbdd7b84287",
      "name": "Telegram Restock Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "retryOnFail": false,
      "webhookId": "a336b358-42f0-4fb7-9d61-4e917dae13d9",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "START TRANSACTION;\n\n-- 1. Try to reduce stock only if sufficient (Atomic)\nUPDATE stock_gudang \nSET quantity = quantity - {{$node['Parse Message'].json.qty}} \nWHERE item_code = '{{$node['Parse Message'].json.id_item}}' AND quantity >= {{$node['Parse Message'].json.qty}};\n\n-- 2. Verify if UPDATE was successful using ROW_COUNT()\nSELECT ROW_COUNT() as affected_rows;",
        "options": {}
      },
      "id": "aca4e0a3-d820-47d1-af29-be1d714e9043",
      "name": "Ambil (Atomic Query)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        160,
        368
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.affected_rows}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "edd307f9-1277-441f-b3bf-2a508e6160c6",
      "name": "If Ambil Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        384,
        368
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stock_users (user_id, item_code, quantity) VALUES ({{$node['Get User Role'].json.id}}, '{{$node['Parse Message'].json.id_item}}', {{$node['Parse Message'].json.qty}}) ON DUPLICATE KEY UPDATE quantity = quantity + VALUES(quantity);\n\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi) VALUES ({{$node['Get User Role'].json.id}}, '{{$node['Parse Message'].json.id_item}}', {{$node['Parse Message'].json.qty}}, 'AMBIL', 'success');\n\nCOMMIT;",
        "options": {}
      },
      "id": "75c24200-c75e-4fdd-92ee-b90f76a97918",
      "name": "Commit Ambil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        608,
        352
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ROLLBACK;",
        "options": {}
      },
      "id": "3d0b9050-6ae1-4696-8cad-7ad1aa8c1d46",
      "name": "Rollback Ambil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        656,
        528
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "=✅ Berhasil mengambil {{$node['Parse Message'].json.qty}} unit {{$node['Parse Message'].json.id_item}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "12a253db-1b24-42cc-8a62-0db563011424",
      "name": "Telegram Ambil Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        816,
        352
      ],
      "retryOnFail": false,
      "webhookId": "8ca1d34b-1623-4894-907a-fc3a12c55e39",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "=❌ Gagal mengambil. Stok {{$node['Parse Message'].json.id_item}} tidak mencukupi atau item tidak ada.",
        "additionalFields": {}
      },
      "id": "a81eb839-a06d-4fa1-87bc-f1a0f00c4b90",
      "name": "Telegram Ambil Fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        864,
        528
      ],
      "retryOnFail": false,
      "webhookId": "4de75ff2-1f65-43de-bf40-02cd89d20d35",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT item_code, quantity FROM stock_gudang WHERE quantity > 0;",
        "options": {}
      },
      "id": "fbc01a83-c630-4c7e-9755-77209779ca9a",
      "name": "Get Stock Gudang",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text = '📦 *Daftar Stok Gudang Saat Ini*\\n\\n';\nif (!$input.all()[0].json.item_code) {\n  return [{text: '⚠️ Gudang kosong.'}];\n}\nfor (const item of $input.all()) {\n  text += `- ${item.json.item_code}: ${item.json.quantity} unit\\n`;\n}\nreturn [{ text }];"
      },
      "id": "ad3f3f1a-9bad-402e-89c0-8861cc9ef528",
      "name": "Format Stock Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "={{$json.text}}",
        "additionalFields": {}
      },
      "id": "22c06270-d1f4-48f5-80de-ae4744593ff4",
      "name": "Telegram Stock",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "retryOnFail": false,
      "webhookId": "37d6ce2d-01f9-4529-829d-70f2e17942ae",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT item_code, quantity FROM stock_users WHERE user_id = {{$node['Get User Role'].json.id}} AND quantity > 0;",
        "options": {}
      },
      "id": "abc89a92-0dd7-4dcb-89f1-31a7450bd105",
      "name": "Get User Stock",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -16,
        544
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text = '🎒 *Barang IT di Tangan Anda*\\n\\n';\nif (!$input.all()[0].json.item_code) {\n  return [{text: '⚠️ Anda tidak memegang barang IT apapun saat ini.'}];\n}\nfor (const item of $input.all()) {\n  text += `- ${item.json.item_code}: ${item.json.quantity} unit\\n`;\n}\nreturn [{ text }];"
      },
      "id": "b20baa2f-6167-4353-a827-931b0fc15152",
      "name": "Format MyStock Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        544
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "2c805e9d-1518-42f6-802c-14fbf59a2c8f",
      "name": "Telegram MyStock",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        432,
        544
      ],
      "retryOnFail": false,
      "webhookId": "b40ce3b4-6475-48bc-806e-6ca74d65eada",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$node['Get User Role'].json.role}}",
              "rightValue": "admin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "31b89667-d2ee-4805-83de-195372490b60",
      "name": "If Admin (Log)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1168,
        1104
      ],
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.name, l.item_code, l.quantity, l.tipe, DATE_FORMAT(l.created_at, '%Y-%m-%d %H:%i') as waktu FROM log_transaksi l JOIN users u ON l.user_id = u.id ORDER BY l.id DESC LIMIT 10;",
        "options": {}
      },
      "id": "8420a5e5-a1dc-44fa-935b-e10400134744",
      "name": "Get Last 10 Logs",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -944,
        1104
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let text = '📜 *10 Transaksi Terakhir*\\n\\n';\nif (!$input.all()[0].json.item_code) {\n  return [{text: '⚠️ Belum ada log transaksi.'}];\n}\nfor (const item of $input.all()) {\n  text += `[${item.json.waktu}] ${item.json.name} -> ${item.json.tipe} ${item.json.quantity}x ${item.json.item_code}\\n`;\n}\nreturn [{ text }];"
      },
      "id": "9593afa1-2154-4784-8ed3-e6c97a9c659b",
      "name": "Format Log Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        1104
      ],
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "={{$json.text}}",
        "additionalFields": {}
      },
      "id": "b1bf95c6-b6e5-440e-8798-2748d642bc7e",
      "name": "Telegram Log",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -496,
        1104
      ],
      "retryOnFail": false,
      "webhookId": "872127ad-b0d1-46fa-93ca-b0b832b04fed",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "START TRANSACTION;\n\nUPDATE stock_users \nSET quantity = quantity - {{$node['Parse Message'].json.qty}} \nWHERE user_id = {{$node['Get User Role'].json.id}} AND item_code = '{{$node['Parse Message'].json.id_item}}' AND quantity >= {{$node['Parse Message'].json.qty}};\n\nSELECT ROW_COUNT() as affected_rows;",
        "options": {}
      },
      "id": "e23c4907-4e24-419d-8458-397e0ac561f4",
      "name": "Kembalikan (Atomic)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -1168,
        2000
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.affected_rows}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "96d6386e-37ef-4f31-9ba1-cc18d3265ee7",
      "name": "If Kembalikan Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -944,
        2000
      ],
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE stock_gudang SET quantity = quantity + {{$node['Parse Message'].json.qty}} WHERE item_code = '{{$node['Parse Message'].json.id_item}}';\n\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi) VALUES ({{$node['Get User Role'].json.id}}, '{{$node['Parse Message'].json.id_item}}', {{$node['Parse Message'].json.qty}}, 'KEMBALIKAN', 'success');\n\nCOMMIT;",
        "options": {}
      },
      "id": "9149fd20-9a12-40ac-93cc-56af7e519e6f",
      "name": "Commit Kembalikan",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -720,
        1904
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ROLLBACK;",
        "options": {}
      },
      "id": "9661574c-0010-4c59-a218-199ccb392126",
      "name": "Rollback Kembalikan",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -720,
        2096
      ],
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "=✅ Berhasil ngembaliin {{$node['Parse Message'].json.qty}} unit {{$node['Parse Message'].json.id_item}} ke gudang.",
        "additionalFields": {}
      },
      "id": "88c64fb3-4e0b-4dd3-bd70-ec7af91989bf",
      "name": "Telegram Kbl Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -496,
        1904
      ],
      "retryOnFail": false,
      "webhookId": "26d7fd52-dbc0-4ee8-a07e-285ba25efac8",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "=❌ Gagal. Anda tidak punya stok {{$node['Parse Message'].json.id_item}} sebanyak itu.",
        "additionalFields": {}
      },
      "id": "dc906cb4-2e3f-415c-af33-924493c8ac05",
      "name": "Telegram Kbl Fail",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -496,
        2096
      ],
      "retryOnFail": false,
      "webhookId": "ef35ee0f-bebb-4a88-807f-75e3df65a478",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Parse Message\"].json.command}}",
        "rules": {
          "rules": [
            {
              "value2": "restock"
            },
            {
              "value2": "stock",
              "output": 1
            },
            {
              "value2": "ambil",
              "output": 2
            },
            {
              "value2": "mystock",
              "output": 3
            },
            {
              "value2": "asda",
              "output": 3
            }
          ]
        }
      },
      "id": "35f35bc7-7c2e-4e1e-a33d-1e65a445d975",
      "name": "Command Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1168,
        1328
      ],
      "retryOnFail": false,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$node[\"Parse Message\"].json.command}}",
                    "rightValue": "restock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "942cd73f-9b5a-4336-8b22-07aac5c44213"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ce6eb1da-1bfe-4db8-a845-6c3ed6f646b3",
                    "leftValue": "={{$node[\"Parse Message\"].json.command}}",
                    "rightValue": "stock",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c27f6532-4aca-4123-8189-c84adf5c3707",
                    "leftValue": "={{$node[\"Parse Message\"].json.command}}",
                    "rightValue": "ambil",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "68b78f05-d30d-4a63-920b-b5487b252ef5",
                    "leftValue": "={{$node[\"Parse Message\"].json.command}}",
                    "rightValue": "mystock",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b80db2ff-aff8-4eaf-bb83-447b04bf8c0f",
                    "leftValue": "={{$node[\"Parse Message\"].json.command}}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none",
          "ignoreCase": false,
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -256,
        320
      ],
      "id": "185fd84c-96fa-4d41-b345-e8d46ca0275d",
      "name": "Command Router2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "={{$node['Parse Message'].json.chat_id}}",
        "text": "=Command tidak dikenal.\nGunakan salah satu perintah berikut: \n/restock <item> <qty> (Cth : /restock MOUSE 3)\n/ambil <item> <qty> (Cth : /restock MOUSE 3)\n/stock \n/mystock\n\nKeterangan : \n/restock = untuk menambahkan barang ke gudang (fitur khusus admin)\n/ambil   = untuk menambahkan stock barang dari gudang ke user\n/stock   = melihat ketersediaan stock gudang saat ini\n/mystock = melihat ketersediaan stock user yang saat ini disimpan",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        752
      ],
      "id": "32d6ed37-dd5f-4164-b65b-153495e1c2fe",
      "name": "Telegram Send Message (Unknown Command)",
      "webhookId": "afa6c05e-6f8c-4bc7-9e51-b266cc5e1942",
      "credentials": {
        "telegramApi": {
          "id": "XGjtsjR1LeDpxsen",
          "name": "Jembot Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Get User Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Role": {
      "main": [
        [
          {
            "node": "If User Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If User Active": {
      "main": [
        [
          {
            "node": "Command Router2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Auth Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Admin (Restock)": {
      "main": [
        [
          {
            "node": "Restock (Add to Gudang)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restock (Add to Gudang)": {
      "main": [
        [
          {
            "node": "Telegram Restock Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil (Atomic Query)": {
      "main": [
        [
          {
            "node": "If Ambil Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Ambil Success": {
      "main": [
        [
          {
            "node": "Commit Ambil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rollback Ambil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Ambil": {
      "main": [
        [
          {
            "node": "Telegram Ambil Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rollback Ambil": {
      "main": [
        [
          {
            "node": "Telegram Ambil Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stock Gudang": {
      "main": [
        [
          {
            "node": "Format Stock Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Stock Text": {
      "main": [
        [
          {
            "node": "Telegram Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Stock": {
      "main": [
        [
          {
            "node": "Format MyStock Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format MyStock Text": {
      "main": [
        [
          {
            "node": "Telegram MyStock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Admin (Log)": {
      "main": [
        [
          {
            "node": "Get Last 10 Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last 10 Logs": {
      "main": [
        [
          {
            "node": "Format Log Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Log Text": {
      "main": [
        [
          {
            "node": "Telegram Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kembalikan (Atomic)": {
      "main": [
        [
          {
            "node": "If Kembalikan Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Kembalikan Success": {
      "main": [
        [
          {
            "node": "Commit Kembalikan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rollback Kembalikan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Kembalikan": {
      "main": [
        [
          {
            "node": "Telegram Kbl Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rollback Kembalikan": {
      "main": [
        [
          {
            "node": "Telegram Kbl Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router2": {
      "main": [
        [
          {
            "node": "If Admin (Restock)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Stock Gudang",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ambil (Atomic Query)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Message (Unknown Command)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8a02f73a-41a0-459f-acbb-b4291398fc98",
  "meta": {
    "instanceId": "cb09c41ae337aa3d0c5f4b2ceeea66db5dac23bb7b83c1a997bc902a5109156a"
  },
  "id": "9zayjtgkgNyeb0I0",
  "tags": []
}