Inventory IT Bot v2 - Trimmed.json
{
  "name": "Inventory IT Bot v2 - Trimmed",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "a0cefe3a-86b6-4f2e-88e3-9c4abf3cbae9",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1232,
        7408
      ],
      "webhookId": "inventory-bot-v2",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst upd = $json;\nlet telegram_id, chat_id, text = '', callback_data = '', update_type;\n\nif (upd.message) {\n  update_type = 'message';\n  telegram_id = String(upd.message.from.id);\n  chat_id     = String(upd.message.chat.id);\n  text        = (upd.message.text || '').trim();\n} else if (upd.callback_query) {\n  update_type   = 'callback';\n  telegram_id   = String(upd.callback_query.from.id);\n  chat_id       = String(upd.callback_query.message.chat.id);\n  callback_data = (upd.callback_query.data || '').trim();\n  text          = callback_data;\n} else {\n  return [];\n}\n\nreturn [{ json: { update_type, telegram_id, chat_id, text, callback_data } }];\n"
      },
      "id": "c5849137-a6ed-4c33-962b-3ca2d98dadf8",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        7408
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.name, u.role, u.is_active,\n       COALESCE(s.current_state,'') AS current_state,\n       s.state_data\nFROM users u\nLEFT JOIN bot_user_states s ON u.telegram_id = s.telegram_id\nWHERE u.telegram_id = '{{ $node[\"Normalize\"].json.telegram_id }}'",
        "options": {}
      },
      "id": "7591921b-bfd6-42bf-967b-47f65913737a",
      "name": "Get User & State",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -784,
        7408
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.is_active }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c763f803-2267-4ef5-8f21-8899366aa574",
      "name": "Is Active User?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        7408
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "⛔ Anda tidak terdaftar atau tidak aktif. Hubungi admin.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "7fbe3c49-594a-40b2-9dc8-39ec31657396",
      "name": "Send Unauth",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        7504
      ],
      "webhookId": "f90a4e57-d9ee-4a4c-870e-737d019ae487",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst state   = $items(\"Get User & State\")[0].json.current_state || '';\nconst role    = $items(\"Get User & State\")[0].json.role || '';\nconst text    = $node[\"Normalize\"].json.text || '';\nconst cb      = $node[\"Normalize\"].json.callback_data || '';\nconst upd     = $node[\"Normalize\"].json.update_type;\n\n// If state exists and user typed text (not a command)\nif (state && upd === 'message' && !text.startsWith('/')) {\n  return [{ json: { route: 'state', state, role, text, cb } }];\n}\n\n// ADM_* dan STF_* commands selalu ke admin/staff flow, bypass state check\nconst cmd = text || cb;\nif (cmd.startsWith('ADM_') || cmd.startsWith('STF_') || cmd.startsWith('CONFIRM_')) {\n  return [{ json: { route: role === 'admin' ? 'admin' : 'staff', state, role, text, cb } }];\n}\n\n// Cancel shortcut\nif (text === '/cancel' || cb === 'CANCEL') {\n  return [{ json: { route: 'cancel', state, role, text, cb } }];\n}\n\n// Route by command/callback\nreturn [{ json: { route: role === 'admin' ? 'admin' : 'staff', state, role, text, cb } }];\n"
      },
      "id": "dbf528b6-0257-490a-90cd-4d8b611cd3e4",
      "name": "Main Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        7312
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "state",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "staff",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "28d1879e-6ab1-453d-af7f-0f682ef0a9ae",
      "name": "Route: State/Admin/Staff/Cancel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -112,
        7280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_ADD_ITEM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_EDIT_ITEM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_DEL_ITEM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_ADD_USER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_EDIT_USER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_DEL_USER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_ADD_STU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_EDIT_STU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_DEL_STU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "ADMIN_APPROVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "STAFF_AMBIL_WAIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "STAFF_RETURN_WAIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "STAFF_ALOKASI_WAIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b4a55eaf-c432-4930-9cc8-b2aa15a42042",
      "name": "Switch State",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        112,
        1760
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst text = $node[\"Normalize\"].json.text || '';\nconst cb   = $node[\"Normalize\"].json.callback_data || '';\nconst cmd  = text || cb;\nreturn [{ json: { cmd } }];\n"
      },
      "id": "6917d85b-acaa-48a7-b433-8252383f7284",
      "name": "Admin Command Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        5872
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/stock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/users",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/history",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/so",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/approval",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/stockusers",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_ADDITEM",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_EDITITEM",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_DELITEM",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_ADDUSER",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_EDITUSER",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_DELUSER",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_ADDSTU",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_EDITSTU",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_DELSTU",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_APPR_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_ADDITEM_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_EDITITEM_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_DELITEM_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_ADDUSER_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_EDITUSER_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_DELUSER_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_ADDSTU_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_EDITSTU_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_DELSTU_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36833904-54ba-42d5-8f62-0573b6424b28",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_HISTORY_EXCEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd866d17-d349-40f7-83df-371fae70ca53",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "ADM_STOCKUSERS_EXCEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "16e79916-0213-48f9-8fc0-8e875dfd6bc9",
      "name": "Switch Admin Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        336,
        5472
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst text = $node[\"Normalize\"].json.text || '';\nconst cb   = $node[\"Normalize\"].json.callback_data || '';\nconst cmd  = text || cb;\nreturn [{ json: { cmd } }];\n"
      },
      "id": "c43da028-1b6c-473f-9b2b-7c867dcc684a",
      "name": "Staff Command Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        8600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/stock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/approval",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "/alokasi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "STF_AMBIL",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "STF_MYSTOCK",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "STF_RETURN",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "STF_REQAPPR",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_RETURN_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.cmd }}",
                    "rightValue": "CONFIRM_ALOKASI_YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "46f594b6-6fff-4cbe-a3fd-7d6a8ff9c25a",
      "name": "Switch Staff Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        336,
        8488
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT item_code, kode_barang, name_item, quantity, min_threshold FROM stock_gudang WHERE item_code != 'null' ORDER BY item_code ASC",
        "options": {}
      },
      "id": "eb01f111-1ca3-46e3-859b-f390ae89e0ae",
      "name": "SQL: Admin Get Stock",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        4144
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet rows = $input.all();\nlet txt = '📦 *STOK GUDANG*\\n\\n```\\n';\ntxt += 'No  Kode          Nama Item              Qty  Min\\n';\ntxt += '--- ------------- ---------------------- ---- ---\\n';\nif (!rows.length || !rows[0].json.item_code) {\n  txt = '⚠️ Gudang kosong.';\n} else {\n  rows.forEach((r, i) => {\n    const no   = String(i+1).padEnd(3);\n    const code = (r.json.item_code||'-').substring(0,13).padEnd(13);\n    const name = (r.json.name_item||'-').substring(0,22).padEnd(22);\n    const qty  = String(r.json.quantity||0).padStart(4);\n    const min  = String(r.json.min_threshold||0).padStart(3);\n    txt += `${no} ${code} ${name} ${qty} ${min}\\n`;\n  });\n  txt += '```';\n}\nreturn [{json:{\n  chat_id: $node[\"Normalize\"].json.chat_id,\n  text: txt,\n  kb: [[['➕ Tambah Item','ADM_ADDITEM'],['✏️ Edit Item','ADM_EDITITEM'],['🗑️ Hapus Item','ADM_DELITEM']]]\n}}];\n"
      },
      "id": "5f422db7-9fba-4c62-83bd-3d11e2b2e0f6",
      "name": "Fmt: Admin Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        4144
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "➕ Tambah Item",
                    "additionalFields": {
                      "callback_data": "ADM_ADDITEM"
                    }
                  },
                  {
                    "text": "✏️ Edit Item",
                    "additionalFields": {
                      "callback_data": "ADM_EDITITEM"
                    }
                  },
                  {
                    "text": "🗑️ Hapus Item",
                    "additionalFields": {
                      "callback_data": "ADM_DELITEM"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "723eabd7-f832-4803-b208-c23d4ec2db11",
      "name": "Send: Admin Stock",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        4144
      ],
      "webhookId": "fdb7077d-0225-499e-8eaf-732c9a4030e1",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_id, name, role, is_active FROM users ORDER BY id ASC",
        "options": {}
      },
      "id": "d961e241-c2b2-4510-927a-edda15954873",
      "name": "SQL: Get Users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        4336
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rows = $input.all();\nlet txt = '👥 *DAFTAR USER*\\n\\n```\\n';\ntxt += 'No  Nama                Telegram_ID Role   Aktif\\n';\ntxt += '--- ------------------- ----------- ------ -----\\n';\nif (!rows.length || !rows[0].json.id) {\n  txt = '⚠️ Belum ada user.';\n} else {\n  rows.forEach((r, i) => {\n    const no          = String(i + 1).padEnd(3);\n    const name        = (r.json.name || '-').toString().substring(0, 19).padEnd(19);\n    const telegram_id = (r.json.telegram_id || '-').toString().substring(0, 11).padEnd(11);\n    const role        = (r.json.role || '-').toString().substring(0, 6).padEnd(6);\n    const act         = r.json.is_active ? '✅' : '❌';\n    txt += `${no} ${name} ${telegram_id} ${role} ${act}\\n`;\n  });\n  txt += '```';\n}\nreturn [{ json: {\n  chat_id: $node[\"Normalize\"].json.chat_id,\n  text: txt\n}}];\n"
      },
      "id": "4c8ae539-90ff-40a1-8f20-ec69b11ac4ea",
      "name": "Fmt: Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        4336
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "➕ Tambah User",
                    "additionalFields": {
                      "callback_data": "ADM_ADDUSER"
                    }
                  },
                  {
                    "text": "✏️ Edit User",
                    "additionalFields": {
                      "callback_data": "ADM_EDITUSER"
                    }
                  },
                  {
                    "text": "🗑️ Hapus User",
                    "additionalFields": {
                      "callback_data": "ADM_DELUSER"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "a78327be-3a9a-4e84-953d-f7c9a435aef0",
      "name": "Send: Users",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        4336
      ],
      "webhookId": "0ccee52e-1197-4c7b-8c10-0014f1f54074",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.name, l.item_code, l.quantity, l.tipe, l.status_transaksi, l.created_at\nFROM log_transaksi l\nJOIN users u ON l.user_id = u.id\nWHERE l.item_code != 'null'\nORDER BY l.id DESC LIMIT 30",
        "options": {}
      },
      "id": "83fc7a1a-d339-43f4-a435-3e062ea81f73",
      "name": "SQL: Get History",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        4528
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet rows = $input.all();\nlet txt = '📜 *LOG TRANSAKSI (30 Terakhir)*\\n\\n```\\n';\ntxt += 'Tgl       Nama            Tipe      Item          Qty\\n';\ntxt += '--------- --------------- --------- ------------- ---\\n';\nif (!rows.length || !rows[0].json.name) {\n  txt = '⚠️ Belum ada transaksi.';\n} else {\n  rows.forEach(r => {\n    const d    = new Date(r.json.created_at);\n    const tgl  = `${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')} ${String(d.getHours()).padStart(2,'0')}:${String(d.getMinutes()).padStart(2,'0')}`;\n    const name = (r.json.name||'-').substring(0,15).padEnd(15);\n    const tipe = (r.json.tipe||'-').substring(0,9).padEnd(9);\n    const item = (r.json.item_code||'-').substring(0,13).padEnd(13);\n    const qty  = String(r.json.quantity||0).padStart(3);\n    txt += `${tgl} ${name} ${tipe} ${item} ${qty}\\n`;\n  });\n  txt += '```';\n}\nreturn [{json:{ chat_id: $node[\"Normalize\"].json.chat_id, text: txt }}];\n"
      },
      "id": "5a7f7536-3fa8-4038-a08a-8678e8102ba1",
      "name": "Fmt: History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        4528
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📥 Export Excel",
                    "additionalFields": {
                      "callback_data": "ADM_HISTORY_EXCEL"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "c5beb8ab-deb6-4094-a9dc-772c44301717",
      "name": "Send: History",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        4528
      ],
      "webhookId": "db2c66bc-5b9e-4734-8d5e-83aa8e84145d",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, u.name AS user_name, a.item_code, sg.name_item, a.quantity, a.requested_at\nFROM approval_requests a\nJOIN users u ON a.user_id = u.id\nJOIN stock_gudang sg ON sg.item_code = a.item_code\nWHERE a.status = 'pending'\nORDER BY a.requested_at ASC",
        "options": {}
      },
      "id": "cb693d1c-212c-4d63-b301-45a27e07e74a",
      "name": "SQL: Get Pending Approvals",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        4720
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet rows = $input.all();\nlet txt = '✅ *REQUEST APPROVAL PENDING*\\n\\n';\nif (!rows.length || !rows[0].json.id) {\n  txt += '📭 Tidak ada request pending.';\n  return [{json:{ chat_id: $node[\"Normalize\"].json.chat_id, text: txt, hasData: false }}];\n}\nrows.forEach((r, i) => {\n  txt += `*${i+1}. ${r.json.user_name}* minta *${r.json.item_code}* (${r.json.name_item||r.json.item_code}) x${r.json.quantity}\\n`;\n  txt += `   🕐 ${new Date(r.json.requested_at).toLocaleString('id-ID')}\\n`;\n  txt += `   ID: #${r.json.id}\\n\\n`;\n});\ntxt += '━━━━━━━━━━━━━━━━━━━━\\n';\ntxt += '📝 *Cara approve/reject:*\\n';\ntxt += 'Ketik `ADM_APPR_APPROVE_<nomor_id>` atau `ADM_APPR_REJECT_<nomor_id>`\\n\\n';\ntxt += '📌 Contoh jika ID *#1*: `ADM_APPR_APPROVE_1`';\nreturn [{json:{ chat_id: $node[\"Normalize\"].json.chat_id, text: txt, hasData: true }}];\n"
      },
      "id": "c64950ae-b864-4d69-9c45-fdc9620a22b5",
      "name": "Fmt: Pending Approvals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        4720
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "64bdc888-ae2f-41e8-91aa-541f06def45c",
      "name": "Send: Pending Approvals",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        4720
      ],
      "webhookId": "7701b361-a891-4a36-98b1-353718e5806d",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.name AS user_name, su.item_code, sg.name_item, su.quantity, su.updated_at\nFROM stock_users su\nJOIN users u ON su.user_id = u.id\nJOIN stock_gudang sg ON sg.item_code = su.item_code\nWHERE su.quantity > 0 AND su.item_code != 'null'\nORDER BY u.name, su.item_code",
        "options": {}
      },
      "id": "74ea1ee3-2d67-4b3d-a972-96507107848c",
      "name": "SQL: Get StockUsers",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        4912
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet rows = $input.all();\nlet txt = '🗃️ *STOCK PER USER*\\n\\n```\\n';\ntxt += 'User              Item          Qty  Tgl Update\\n';\ntxt += '----------------- ------------- ---- ----------\\n';\nif (!rows.length || !rows[0].json.user_name) {\n  txt = '⚠️ Tidak ada stock user.';\n} else {\n  rows.forEach(r => {\n    const name = (r.json.user_name||'-').substring(0,17).padEnd(17);\n    const item = (r.json.item_code||'-').substring(0,13).padEnd(13);\n    const qty  = String(r.json.quantity||0).padStart(4);\n    const d    = r.json.updated_at ? new Date(r.json.updated_at).toLocaleDateString('id-ID') : '-';\n    txt += `${name} ${item} ${qty} ${d}\\n`;\n  });\n  txt += '```';\n}\nreturn [{json:{ chat_id: $node[\"Normalize\"].json.chat_id, text: txt }}];\n"
      },
      "id": "d05c0cf7-54ec-4f08-b86e-55c5528ddf4c",
      "name": "Fmt: StockUsers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        4912
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "➕ Add Stock",
                    "additionalFields": {
                      "callback_data": "ADM_ADDSTU"
                    }
                  },
                  {
                    "text": "✏️ Edit Stock",
                    "additionalFields": {
                      "callback_data": "ADM_EDITSTU"
                    }
                  },
                  {
                    "text": "🗑️ Del Stock",
                    "additionalFields": {
                      "callback_data": "ADM_DELSTU"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📥 Export Excel",
                    "additionalFields": {
                      "callback_data": "ADM_STOCKUSERS_EXCEL"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "369a6085-46d4-4098-ac29-edee325d485d",
      "name": "Send: StockUsers",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        4912
      ],
      "webhookId": "bace1a89-5b2a-4208-b1c0-2201c1492d89",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT item_code, name_item, quantity FROM stock_gudang WHERE item_code != 'null' ORDER BY item_code ASC",
        "options": {}
      },
      "id": "e29271fe-f34b-489d-85f1-cd522c3e923b",
      "name": "SQL: Staff Get Stock",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        8176
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet rows = $input.all();\nlet txt = '📦 *STOK GUDANG*\\n\\n```\\n';\ntxt += 'No  Item              Qty\\n';\ntxt += '--- ----------------- ---\\n';\nif (!rows.length || !rows[0].json.item_code) {\n  txt = '⚠️ Gudang kosong.';\n} else {\n  rows.forEach((r, i) => {\n    const no   = String(i+1).padEnd(3);\n    const code = (r.json.item_code||'-').substring(0,17).padEnd(17);\n    const qty  = String(r.json.quantity||0).padStart(3);\n    txt += `${no} ${code} ${qty}\\n`;\n  });\n  txt += '```';\n}\nreturn [{json:{ chat_id: $node[\"Normalize\"].json.chat_id, text: txt }}];\n"
      },
      "id": "3674a5fd-8396-4b3f-b8b5-a18c35d4394c",
      "name": "Fmt: Staff Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        8176
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🛒 Ambil Item",
                    "additionalFields": {
                      "callback_data": "STF_AMBIL"
                    }
                  },
                  {
                    "text": "📦 My Stock",
                    "additionalFields": {
                      "callback_data": "STF_MYSTOCK"
                    }
                  },
                  {
                    "text": "↩️ Return Item",
                    "additionalFields": {
                      "callback_data": "STF_RETURN"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "1b47bb10-a486-406f-a08f-660cc1176021",
      "name": "Send: Staff Stock",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        8176
      ],
      "webhookId": "c6202a76-3759-4a10-ad33-3687f62a97bb",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.item_code, sg.name_item, a.quantity, a.status, a.requested_at, a.responded_at\nFROM approval_requests a\nJOIN users u ON a.user_id = u.id\nJOIN stock_gudang sg ON sg.item_code = a.item_code\nWHERE u.telegram_id = '{{ $node[\"Normalize\"].json.telegram_id }}'\nORDER BY a.requested_at DESC LIMIT 10",
        "options": {}
      },
      "id": "86fe8179-9790-43be-94c7-5796e09119c7",
      "name": "SQL: Staff Get Approvals",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        8368
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet rows = $input.all();\nlet txt = '📋 *STATUS REQUEST SAYA*\\n\\n';\nif (!rows.length || !rows[0].json.id) {\n  txt += '📭 Belum ada request.';\n} else {\n  const icon = { pending:'⏳', approved:'✅', rejected:'❌' };\n  rows.forEach((r, i) => {\n    const st  = icon[r.json.status] || '?';\n    const nm  = r.json.name_item || r.json.item_code;\n    const tgl = new Date(r.json.requested_at).toLocaleDateString('id-ID');\n    txt += `${st} *${r.json.item_code}* (${nm}) x${r.json.quantity}\\n`;\n    txt += `   Status: *${r.json.status}* | ${tgl}\\n\\n`;\n  });\n}\nreturn [{json:{ chat_id: $node[\"Normalize\"].json.chat_id, text: txt }}];\n"
      },
      "id": "24473d99-fa52-4f45-8831-7b557c512964",
      "name": "Fmt: Staff Approvals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        8368
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "7979e9f9-6b46-42b2-a61b-f797382ab72c",
      "name": "Send: Staff Approvals",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        8368
      ],
      "webhookId": "68495286-1686-4273-b18a-e07dd340f930",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'STAFF_ALOKASI_WAIT') ON DUPLICATE KEY UPDATE current_state='STAFF_ALOKASI_WAIT', state_data=NULL;",
        "options": {}
      },
      "id": "01ea0e93-c4f9-4bf9-9060-6cb4a63a82cc",
      "name": "State: Set Alokasi",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        8560
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "📤 *ALOKASI BARANG*\n\nMasukkan data alokasi dengan format:\n`ITEM_CODE QTY KETERANGAN`\n\nContoh: `SSD 2 Laptop Engineering`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "41129d24-8ec1-4a24-9a14-f64548475190",
      "name": "Ask: Alokasi Input",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        8560
      ],
      "webhookId": "f175f33e-87df-4f3b-9d36-6a6b1841f1a5",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_ADD_ITEM') ON DUPLICATE KEY UPDATE current_state='ADMIN_ADD_ITEM', state_data=NULL;",
        "options": {}
      },
      "id": "5afca24d-6bba-42de-ac94-6489c171e0ca",
      "name": "State: Set AddItem",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        5104
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "➕ *TAMBAH ITEM BARU*\n\nFormat:\n`ITEM_CODE KODE_BARANG \"Nama Item\" QTY MIN_THRESHOLD`\n\nContoh:\n`SSD2 311209 \"SSD Visipro 512GB\" 20 5`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "f7982828-9a76-4ad1-b2c9-597e94064ae1",
      "name": "Ask: Add Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        5104
      ],
      "webhookId": "0a8848f3-76ad-44d3-b6c6-97e5ff44f996",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\S+)\\s+(\\S+)\\s+(?:\"([^\"]+)\"|([^\"]+?))\\s+(\\d+)\\s+(\\d+)$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: SSD2 311209 \"SSD Visipro 512GB\" 20 5' } }];\nreturn [{ json: {\n  error: false,\n  item_code: m[1].toUpperCase(),\n  kode_barang: m[2],\n  name_item: (m[3]||m[4]||'').trim(),\n  qty: parseInt(m[5]),\n  min_threshold: parseInt(m[6])\n}}];\n"
      },
      "id": "f255a222-78db-4969-9496-97c1a914b06e",
      "name": "Parse: Add Item Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d41ca002-f644-4dff-a112-a01c1998ba66",
      "name": "If: AddItem Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "3c7a6e9d-46f0-4bd4-98b3-4f41e8375598",
      "name": "Send: AddItem Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        112
      ],
      "webhookId": "32be1f13-8aba-4e54-aeb6-5f93170efaf9",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stock_gudang (item_code, kode_barang, name_item, quantity, min_threshold)\nVALUES (\n  '{{ $items(\"Parse: Add Item Input\")[0].json.item_code }}',\n  '{{ $items(\"Parse: Add Item Input\")[0].json.kode_barang }}',\n  '{{ $items(\"Parse: Add Item Input\")[0].json.name_item }}',\n  {{ $items(\"Parse: Add Item Input\")[0].json.qty }},\n  {{ $items(\"Parse: Add Item Input\")[0].json.min_threshold }}\n)\nON DUPLICATE KEY UPDATE\n  kode_barang=VALUES(kode_barang),\n  name_item=VALUES(name_item),\n  quantity=VALUES(quantity),\n  min_threshold=VALUES(min_threshold);\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi)\nSELECT id, '{{ $items(\"Parse: Add Item Input\")[0].json.item_code }}',\n  {{ $items(\"Parse: Add Item Input\")[0].json.qty }}, 'RESTOCK', 'success'\nFROM users WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "56411dbf-c406-41a6-bada-c5d28ee245c9",
      "name": "SQL: Insert Item",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        -80
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ Item berhasil ditambahkan!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "da6ca2c4-de2c-41d7-9305-f333e99c19f3",
      "name": "Send: Add Item OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -80
      ],
      "webhookId": "4b31a6a6-86ad-4bb8-9c1a-a20ca3e6a6f0",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_EDIT_ITEM') ON DUPLICATE KEY UPDATE current_state='ADMIN_EDIT_ITEM', state_data=NULL;",
        "options": {}
      },
      "id": "deb12762-2efd-4e97-a3f7-8bc2a8db3e6b",
      "name": "State: Set EditItem",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        5296
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✏️ *EDIT ITEM*\n\nFormat:\n`ITEM_CODE KODE_BARANG \"Nama Item\" QTY MIN_THRESHOLD`\n\nContoh:\n`SSD 311209 \"SSD SATA 256GB\" 50 10`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "e64d5fcf-a1cc-4ea9-814e-bb642f4f4b96",
      "name": "Ask: Edit Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        5296
      ],
      "webhookId": "d24d5e75-987f-4fbd-a6ef-de25a5c06003",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\S+)\\s+(\\S+)\\s+(?:\"([^\"]+)\"|([^\"]+?))\\s+(\\d+)\\s+(\\d+)$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: SSD 311209 \"SSD SATA 256GB\" 50 10' } }];\nreturn [{ json: {\n  error: false,\n  item_code: m[1].toUpperCase(),\n  kode_barang: m[2],\n  name_item: (m[3]||m[4]||'').trim(),\n  qty: parseInt(m[5]),\n  min_threshold: parseInt(m[6])\n}}];\n"
      },
      "id": "19df7eaf-f894-4276-b2f1-7c1595165b7b",
      "name": "Parse: Edit Item Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d4da0cd6-4dd5-4067-a0ee-20ecfd7f4c69",
      "name": "If: EditItem Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "6fa712b9-669e-4f6b-9fac-442ef91845b9",
      "name": "Send: EditItem Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        496
      ],
      "webhookId": "95ffdcec-d9a2-403f-b02c-84580e33b3cf",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE stock_gudang SET\n  kode_barang='{{ $items(\"Parse: Edit Item Input\")[0].json.kode_barang }}',\n  name_item='{{ $items(\"Parse: Edit Item Input\")[0].json.name_item }}',\n  quantity={{ $items(\"Parse: Edit Item Input\")[0].json.qty }},\n  min_threshold={{ $items(\"Parse: Edit Item Input\")[0].json.min_threshold }}\nWHERE item_code='{{ $items(\"Parse: Edit Item Input\")[0].json.item_code }}';\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "630e5103-ee44-4c38-9a6b-2a91d27b58eb",
      "name": "SQL: Update Item",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        304
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ Item berhasil diupdate!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "07f3afcf-f3da-453a-9e02-76e25ac0ef7c",
      "name": "Send: Edit Item OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        304
      ],
      "webhookId": "086d7476-582b-4f40-8857-0d8f31eb3b33",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_DEL_ITEM') ON DUPLICATE KEY UPDATE current_state='ADMIN_DEL_ITEM', state_data=NULL;",
        "options": {}
      },
      "id": "cd0d1c4c-c89f-4413-9844-8cc94a829a17",
      "name": "State: Set DelItem",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        5488
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "=🗑 *HAPUS ITEM*\n\nMasukkan ITEM_CODE yang ingin dihapus:\n\nContoh: SSD\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "2e26e0a1-0bde-483d-9ece-ed6cf793f72b",
      "name": "Ask: Del Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        5488
      ],
      "webhookId": "7c2bfa08-3085-4ef8-b5af-27aaec6e4c7d",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim().toUpperCase();\nif (!text) return [{ json: { error: true, msg: '❌ Masukkan ITEM_CODE yang valid.' } }];\nreturn [{ json: { error: false, item_code: text } }];\n"
      },
      "id": "77dcf4da-0c95-4a05-afb5-9e8f4833d75a",
      "name": "Parse: Del Item Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "5157e514-b977-41ed-8275-6d1f48395d68",
      "name": "If: DelItem Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        688
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "721d71a3-19a0-4625-a7cf-ee16395b6998",
      "name": "Send: DelItem Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        880
      ],
      "webhookId": "13223ebf-a114-4215-bb7b-ccfb372f8118",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_user_states SET state_data = '{\"item_code\":\"{{$json.item_code}}\"}' WHERE telegram_id = '{{ $node[\"Normalize\"].json.telegram_id }}'",
        "options": {}
      },
      "id": "302d4981-48a9-4983-8c46-c8e4373bcfd4",
      "name": "State: Save DelItem Data",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        688
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "=⚠️ Yakin hapus item *{{ $items('Parse: Del Item Input')[0].json.item_code }}*?\nAksi ini tidak bisa dibatalkan.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Ya, Hapus",
                    "additionalFields": {
                      "callback_data": "CONFIRM_DELITEM_YES"
                    }
                  },
                  {
                    "text": "❌ Batal",
                    "additionalFields": {
                      "callback_data": "CANCEL"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d957524d-ecf6-4433-a815-aaa0ceef6b2d",
      "name": "Confirm: Del Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        688
      ],
      "webhookId": "9ff9b052-7e13-45b1-acf7-8f06c2d393be",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $items(\"Get User & State\")[0].json.state_data;\nconst d = typeof raw === 'string' ? JSON.parse(raw) : raw;\nreturn [{ json: d }];\n"
      },
      "id": "0cb7a267-27ed-4831-8111-c8cc63556280",
      "name": "Load: DelItem State Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        5680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM stock_gudang WHERE item_code='{{$json.item_code}}';\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "9380d691-43b7-4865-b511-b04182e757fa",
      "name": "SQL: Delete Item",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        5680
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ Item berhasil dihapus!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "309f8dda-36bc-4063-b0cb-f2652b1446c1",
      "name": "Send: Del Item OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        5680
      ],
      "webhookId": "b23a5402-be0e-4352-9899-a9d119df6396",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_ADD_USER') ON DUPLICATE KEY UPDATE current_state='ADMIN_ADD_USER', state_data=NULL;",
        "options": {}
      },
      "id": "a828ab12-e011-4f5d-8f89-2e212371174b",
      "name": "State: Set AddUser",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        5872
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "➕ *TAMBAH USER*\n\nFormat:\n`TELEGRAM_ID \"Nama User\" admin|staff 1|0`\n\nContoh:\n`123456789 \"John Doe\" staff 1`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "e45ee274-5396-4f3c-8757-4c78cb8d497b",
      "name": "Ask: Add User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        5872
      ],
      "webhookId": "3f94a226-366d-4bae-a632-1136f43387e8",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\d+)\\s+(?:\"([^\"]+)\"|([^\"]+?))\\s+(admin|staff)\\s+([01])$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: 123456789 \"John Doe\" staff 1' } }];\nreturn [{ json: {\n  error: false,\n  telegram_id: m[1],\n  name: (m[2]||m[3]||'').trim(),\n  role: m[4],\n  is_active: parseInt(m[5])\n}}];\n"
      },
      "id": "f137dafa-2e14-4732-bf6c-15dd282311c6",
      "name": "Parse: Add User Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "f6aca817-8db4-40e9-b96c-c09c6c3d1aa1",
      "name": "If: AddUser Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        1072
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "adb70016-a1ea-41a4-aaf4-4daf5cd34935",
      "name": "Send: AddUser Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        1264
      ],
      "webhookId": "a02cc177-b9fb-41ec-9c4d-52086299ebe1",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (telegram_id, name, role, is_active)\nVALUES (\n  '{{ $items(\"Parse: Add User Input\")[0].json.telegram_id }}',\n  '{{ $items(\"Parse: Add User Input\")[0].json.name }}',\n  '{{ $items(\"Parse: Add User Input\")[0].json.role }}',\n  {{ $items(\"Parse: Add User Input\")[0].json.is_active }}\n)\nON DUPLICATE KEY UPDATE\n  name=VALUES(name), role=VALUES(role), is_active=VALUES(is_active);\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "49bd550d-0159-4ac9-8be7-9c9550371fca",
      "name": "SQL: Insert User",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        1072
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ User berhasil ditambahkan!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "3c78cb1f-f406-40a8-8522-d28136b3e203",
      "name": "Send: Add User OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        1072
      ],
      "webhookId": "36ce811a-a5ea-4e65-9600-5bc6e5131294",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_EDIT_USER') ON DUPLICATE KEY UPDATE current_state='ADMIN_EDIT_USER', state_data=NULL;",
        "options": {}
      },
      "id": "eb432dd8-04fa-47ba-81bb-420ece65ea2b",
      "name": "State: Set EditUser",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        6064
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✏️ *EDIT USER*\n\nFormat:\n`TELEGRAM_ID \"Nama Baru\" admin|staff 1|0`\n\nContoh:\n`123456789 \"John Doe\" admin 1`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "7293a028-dd37-40ec-af67-e109ae20c3e4",
      "name": "Ask: Edit User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        6064
      ],
      "webhookId": "7e68baed-03d3-4656-854d-c3917acd165c",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\d+)\\s+(?:\"([^\"]+)\"|([^\"]+?))\\s+(admin|staff)\\s+([01])$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.' } }];\nreturn [{ json: { error: false, telegram_id:m[1], name:(m[2]||m[3]||'').trim(), role:m[4], is_active:parseInt(m[5]) }}];\n"
      },
      "id": "679dcff9-f839-4e87-99b7-b88640026c46",
      "name": "Parse: Edit User Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1456
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "800b357d-147e-46bf-b1bc-4f0728e6fe47",
      "name": "If: EditUser Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        1456
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "c073503a-34ef-490c-bdd0-baeba97cab62",
      "name": "Send: EditUser Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        1648
      ],
      "webhookId": "a947fea2-0f28-4ef5-a852-e5a45d12d8b1",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET\n  name='{{ $items(\"Parse: Edit User Input\")[0].json.name }}',\n  role='{{ $items(\"Parse: Edit User Input\")[0].json.role }}',\n  is_active={{ $items(\"Parse: Edit User Input\")[0].json.is_active }}\nWHERE telegram_id='{{ $items(\"Parse: Edit User Input\")[0].json.telegram_id }}';\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "751d0ea7-622f-4261-b3a9-b2bbbc76487f",
      "name": "SQL: Update User",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        1456
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ User berhasil diupdate!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "33dcc343-2180-4ea9-ae7b-7d97e9e055d3",
      "name": "Send: Edit User OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        1456
      ],
      "webhookId": "43fad278-6d32-45bb-83ad-0c941b5ff010",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_DEL_USER') ON DUPLICATE KEY UPDATE current_state='ADMIN_DEL_USER', state_data=NULL;",
        "options": {}
      },
      "id": "94df6cef-cb2a-47b3-b5db-41b83723813f",
      "name": "State: Set DelUser",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        6448
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "🗑️ *HAPUS USER*\n\nMasukkan Telegram ID user yang ingin dihapus:\n\nContoh: `123456789`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "cb3b7427-5d08-42a2-b4ac-abc710c00bc8",
      "name": "Ask: Del User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        6448
      ],
      "webhookId": "7bea10a7-c6ce-4698-91f9-568180d8b2b7",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nif (!/^\\d+$/.test(text)) return [{ json: { error: true, msg: '❌ Masukkan Telegram ID (angka).' } }];\nreturn [{ json: { error: false, telegram_id: text } }];\n"
      },
      "id": "20c44c73-cdca-4e6d-a819-eb17205573d5",
      "name": "Parse: Del User Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b2aa3140-3da0-4393-90c8-90f808b08dad",
      "name": "If: DelUser Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        1840
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "68219229-cd64-491e-b0e3-83b912bd789d",
      "name": "Send: DelUser Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        2032
      ],
      "webhookId": "2a735cda-ba20-4e25-a092-2e79b208af13",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_user_states SET state_data='{\"telegram_id\":\"{{$json.telegram_id}}\"}' WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}'",
        "options": {}
      },
      "id": "24137be4-6f58-4bcc-8826-9062132a5eaa",
      "name": "State: Save DelUser Data",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "=⚠️ Nonaktifkan user *{{ $items('Parse: Del User Input')[0].json.telegram_id }}*?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Ya",
                    "additionalFields": {
                      "callback_data": "CONFIRM_DELUSER_YES"
                    }
                  },
                  {
                    "text": "❌ Batal",
                    "additionalFields": {
                      "callback_data": "CANCEL"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "c8cd7272-b755-49dc-935b-783ee12e1a99",
      "name": "Confirm: Del User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        1840
      ],
      "webhookId": "d6461904-a9ff-451a-8ccc-7fb4ebf6de6c",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $items(\"Get User & State\")[0].json.state_data;\nconst d = typeof raw === 'string' ? JSON.parse(raw) : raw;\nreturn [{ json: d }];"
      },
      "id": "bc425648-064c-4914-b86f-5caed786e30d",
      "name": "Load: DelUser State Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        6832
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET is_active=0 WHERE telegram_id='{{$json.telegram_id}}';\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "073b83a7-f85c-482e-8a45-4d0747750206",
      "name": "SQL: Deactivate User",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        6832
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ User berhasil dinonaktifkan!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "af7f3e31-01b7-4b76-97e6-e7db5f5cd677",
      "name": "Send: Del User OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        6832
      ],
      "webhookId": "ac926db8-87f6-45be-bc21-ab23436c6f6a",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_ADD_STU') ON DUPLICATE KEY UPDATE current_state='ADMIN_ADD_STU', state_data=NULL;",
        "options": {}
      },
      "id": "2421debc-899b-460b-b4ba-7160ef4fc572",
      "name": "State: Set AddSTU",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        7024
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "➕ *TAMBAH STOCK USER*\n\nFormat:\n`TELEGRAM_ID ITEM_CODE QTY`\n\nContoh:\n`5697674525 SSD 5`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "50734dcb-54cc-4afd-920f-2ca6513f4e9e",
      "name": "Ask: Add STU",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        7024
      ],
      "webhookId": "eb1b8934-2f45-4307-8ce4-6f5a1dad9104",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\d+)\\s+(\\S+)\\s+(\\d+)$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: 5697674525 SSD 5' } }];\nreturn [{ json: { error: false, telegram_id:m[1], item_code:m[2].toUpperCase(), qty:parseInt(m[3]) }}];\n"
      },
      "id": "c1e572bc-78b9-40c3-ab36-3ef0f3b01f46",
      "name": "Parse: Add STU Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d2046ab2-e901-4d51-9a64-3042ec69bdc0",
      "name": "If: AddSTU Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        2224
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6db1b370-96be-47ef-87b1-c6eb310ccfea",
      "name": "Send: AddSTU Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        2416
      ],
      "webhookId": "a14adadc-7bbb-43d4-ba43-93e1fc604275",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET @uid := (SELECT id FROM users WHERE telegram_id='{{ $items(\"Parse: Add STU Input\")[0].json.telegram_id }}');\nINSERT INTO stock_users (user_id, item_code, quantity)\nVALUES (@uid, '{{ $items(\"Parse: Add STU Input\")[0].json.item_code }}', {{ $items(\"Parse: Add STU Input\")[0].json.qty }})\nON DUPLICATE KEY UPDATE quantity=quantity+{{ $items(\"Parse: Add STU Input\")[0].json.qty }};\nUPDATE stock_gudang SET quantity=quantity-{{ $items(\"Parse: Add STU Input\")[0].json.qty }}\nWHERE item_code='{{ $items(\"Parse: Add STU Input\")[0].json.item_code }}';\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi)\nVALUES (@uid, '{{ $items(\"Parse: Add STU Input\")[0].json.item_code }}',\n  {{ $items(\"Parse: Add STU Input\")[0].json.qty }}, 'AMBIL', 'success');\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "9428234a-2708-4eda-bfe8-5d110cb45def",
      "name": "SQL: Add StockUser",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        2224
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ Stock user berhasil ditambahkan!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "542b37a7-bf4e-46a1-b599-ff2657a2c5f6",
      "name": "Send: Add STU OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        2224
      ],
      "webhookId": "ee475be8-07ca-4665-b15d-d0cfefd13987",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'ADMIN_DEL_STU') ON DUPLICATE KEY UPDATE current_state='ADMIN_DEL_STU', state_data=NULL;",
        "options": {}
      },
      "id": "07865a26-c71f-48f4-95a6-b5d2dfc5b3a8",
      "name": "State: Set DelSTU",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        7216
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "🗑️ *HAPUS STOCK USER*\n\nFormat:\n`TELEGRAM_ID ITEM_CODE`\n\nContoh:\n`5697674525 SSD`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "7e97cf00-b850-47a9-bf4e-18d5cef64d47",
      "name": "Ask: Del STU",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        7216
      ],
      "webhookId": "40eb1721-bffc-4047-af6e-6ddbc9bdf4bb",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\d+)\\s+(\\S+)$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: 5697674525 SSD' } }];\nreturn [{ json: { error: false, telegram_id:m[1], item_code:m[2].toUpperCase() }}];\n"
      },
      "id": "4b7007aa-fd6b-4ff5-a63e-e3584d82aa7c",
      "name": "Parse: Del STU Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ba1f166b-b18e-4bf3-9e0a-a531ece028d1",
      "name": "If: DelSTU Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        2608
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f0f1c4a7-9dfe-4e0b-9997-436885aeb8da",
      "name": "Send: DelSTU Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        2800
      ],
      "webhookId": "7d92b97c-70eb-4200-a29f-faedc3556cd3",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_user_states SET state_data='{{ JSON.stringify({telegram_id:$json.telegram_id,item_code:$json.item_code}) }}' WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}'",
        "options": {}
      },
      "id": "036c9767-2923-4b78-a2b5-21106ec9c916",
      "name": "State: Save DelSTU Data",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        2608
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "=⚠️ Hapus stock {{ $items('Parse: Del STU Input')[0].json.item_code }} dari user {{ $items('Parse: Del STU Input')[0].json.telegram_id }}?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Ya",
                    "additionalFields": {
                      "callback_data": "CONFIRM_DELSTU_YES"
                    }
                  },
                  {
                    "text": "❌ Batal",
                    "additionalFields": {
                      "callback_data": "CANCEL"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d8bcb5a6-0122-4267-bcce-49460ccef14a",
      "name": "Confirm: Del STU",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        2608
      ],
      "webhookId": "2e7f545b-8ee3-4ca7-afb9-404a65067c13",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $items(\"Get User & State\")[0].json.state_data;\nconst d = typeof raw === 'string' ? JSON.parse(raw) : raw;\nreturn [{ json: d }];"
      },
      "id": "57cab08a-eefc-46d3-9bb3-9503e5ad0a3b",
      "name": "Load: DelSTU State Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        7408
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET @uid := (SELECT id FROM users WHERE telegram_id='{{$json.telegram_id}}');\nDELETE FROM stock_users WHERE user_id=@uid AND item_code='{{$json.item_code}}';\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "78f38653-a56b-4615-aede-00046602b221",
      "name": "SQL: Delete StockUser",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        7408
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ Stock user berhasil dihapus!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "bc832363-f750-42ec-a631-b8129ff18bc9",
      "name": "Send: Del STU OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        7408
      ],
      "webhookId": "be5e4209-1f84-4b9d-9263-b02f2314683e",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cb    = $node[\"Normalize\"].json.callback_data || '';\nconst text  = $node[\"Normalize\"].json.text || '';\nconst input = cb || text;  // prioritas callback, fallback ke teks\nconst approveMatch = input.match(/^ADM_APPR_APPROVE_(\\d+)$/);\nconst rejectMatch  = input.match(/^ADM_APPR_REJECT_(\\d+)$/);\nif (approveMatch) return [{ json: { action:'approve', request_id: parseInt(approveMatch[1]) } }];\nif (rejectMatch)  return [{ json: { action:'reject',  request_id: parseInt(rejectMatch[1]) } }];\nreturn [];\n"
      },
      "id": "71a2b45b-b7b9-48a1-bf1e-b0881d10f02d",
      "name": "Parse: Approve/Reject Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        7704
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa12ffc6-226c-4f76-84e0-8226c7aaf1ba",
      "name": "If: Is Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        7704
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET @req_id := {{$json.request_id}};\nSET @uid := (SELECT user_id FROM approval_requests WHERE id=@req_id);\nSET @item := (SELECT item_code FROM approval_requests WHERE id=@req_id);\nSET @qty  := (SELECT quantity FROM approval_requests WHERE id=@req_id);\nUPDATE approval_requests SET status='approved', responded_at=NOW() WHERE id=@req_id;\nINSERT INTO stock_users (user_id, item_code, quantity) VALUES (@uid, @item, @qty)\n  ON DUPLICATE KEY UPDATE quantity=quantity+@qty;\nUPDATE stock_gudang SET quantity=quantity-@qty WHERE item_code=@item;\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi) VALUES (@uid, @item, @qty, 'AMBIL', 'success');\nSELECT u.telegram_id AS user_tg, @item AS item_code, @qty AS qty FROM users u WHERE u.id=@uid;",
        "options": {}
      },
      "id": "10e72a40-bbec-4532-99d0-0264221cca83",
      "name": "SQL: Execute Approve",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1008,
        7600
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "=✅ Request *#{{ $items('Parse: Approve/Reject Callback')[0].json.request_id }}* berhasil diapprove!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ab65d85a-1678-4989-9456-69e78c80a4df",
      "name": "Send: Approve OK to Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        5392
      ],
      "webhookId": "ded9f52e-03d4-4720-ae1e-8796fca43941",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_tg }}",
        "text": "=✅ Request Anda untuk *{{ $json.item_code }}* x{{ $json.qty }} telah *DIAPPROVE* oleh admin!\nStock Anda sudah bertambah.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ec49567f-a163-4d46-a52d-9fd544918825",
      "name": "Notify: User Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        7696
      ],
      "webhookId": "6f8bff10-538d-416e-a7bc-73568def388b",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE approval_requests SET status='rejected', responded_at=NOW() WHERE id={{$json.request_id}};\nSELECT u.telegram_id AS user_tg, ar.item_code, ar.quantity AS qty\nFROM approval_requests ar JOIN users u ON ar.user_id=u.id WHERE ar.id={{$json.request_id}};",
        "options": {}
      },
      "id": "0f720033-b750-491d-b0f2-fae4535685f6",
      "name": "SQL: Execute Reject",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1008,
        7984
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "❌ Request *#{{ $items('Parse: Approve/Reject Callback')[0].json.request_id }}* berhasil direject!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "89c6b0b8-7512-4257-b2e6-e49f3d629c88",
      "name": "Send: Reject OK to Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        7888
      ],
      "webhookId": "1db1e47b-a68b-4ada-906e-55bbfeaac2c8",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_tg }}",
        "text": "=❌ Request Anda untuk *{{ $json.item_code }}* x{{ $json.qty }} telah *DITOLAK* oleh admin.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "2be396ac-0447-4642-b8ed-c31708bf26a4",
      "name": "Notify: User Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        8080
      ],
      "webhookId": "b230b20b-0fed-414a-83d3-1b858a817b6d",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'STAFF_AMBIL_WAIT') ON DUPLICATE KEY UPDATE current_state='STAFF_AMBIL_WAIT', state_data=NULL;",
        "options": {}
      },
      "id": "88d9ea20-7e9a-48c4-b891-ade3b6d94223",
      "name": "State: Set Ambil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        8752
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "🛒 *AMBIL ITEM*\n\nFormat:\n`ITEM_CODE QTY`\n\nContoh: `SSD 2`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d6b91257-b521-4b78-be26-dae68fd3d27e",
      "name": "Ask: Ambil Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        8752
      ],
      "webhookId": "9b49a497-5d69-4369-b366-5e90309e6822",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\S+)\\s+(\\d+)$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: SSD 2' } }];\nreturn [{ json: { error: false, item_code: m[1].toUpperCase(), qty: parseInt(m[2]) }}];\n"
      },
      "id": "eb29d23d-7fbe-4bec-8698-11333129686f",
      "name": "Parse: Ambil Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "0c66db52-93ad-4114-8448-51cd92472a03",
      "name": "If: Ambil Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        2992
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "52827583-d232-4113-a0e9-b5fd15db6dee",
      "name": "Send: Ambil Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        3184
      ],
      "webhookId": "e0a7d5a3-2d27-4f8a-b3f4-9da8bf765588",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET @uid := (SELECT id FROM users WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}');\nINSERT INTO approval_requests (user_id, item_code, quantity, status)\nVALUES (@uid,\n  '{{ $items(\"Parse: Ambil Input\")[0].json.item_code }}',\n  {{ $items(\"Parse: Ambil Input\")[0].json.qty }},\n  'pending');\nSET @req_id := LAST_INSERT_ID();\nSELECT @req_id AS request_id,\n  '{{ $items(\"Parse: Ambil Input\")[0].json.item_code }}' AS item_code,\n  {{ $items(\"Parse: Ambil Input\")[0].json.qty }} AS qty;\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "5c050b96-ed10-4053-a844-b9513c1acdaf",
      "name": "SQL: Create Approval Request",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        2992
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telegram_id FROM users WHERE role='admin' AND is_active=1",
        "options": {}
      },
      "id": "a72b208f-7237-4dab-b2b5-67eb469980ad",
      "name": "SQL: Get Admin Telegram IDs",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1008,
        3088
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const admins = $input.all();\nconst req = $items(\"SQL: Create Approval Request\");\nconst item = req[0]?.json?.item_code || '-';\nconst qty  = req[0]?.json?.qty || 0;\nconst rid  = req[0]?.json?.request_id || 0;\nconst user = $items(\"Get User & State\")[0]?.json?.name || '-';\nconst createdAt = req[0]?.json?.created_at || new Date().toISOString();\n\n// helper untuk padding\nfunction pad(str, width, align = 'left') {\n  str = String(str);\n  if (str.length >= width) return str.slice(0, width);\n  const padLen = width - str.length;\n  return align === 'right' ? ' '.repeat(padLen) + str : str + ' '.repeat(padLen);\n}\n\n// atur lebar kolom\nconst colWidths = {\n  tgl: 14,\n  user: 16,\n  item: 18,\n  qty: 4,\n  rid: 8\n};\n\n// format tanggal singkat\nfunction formatDate(iso) {\n  const d = new Date(iso);\n  return `${String(d.getDate()).padStart(2,'0')}/${String(d.getMonth()+1).padStart(2,'0')} ${String(d.getHours()).padStart(2,'0')}:${String(d.getMinutes()).padStart(2,'0')}`;\n}\n\nconst header = pad('Tgl', colWidths.tgl) + ' ' + pad('User', colWidths.user) + ' ' + pad('Item', colWidths.item) + ' ' + pad('Qty', colWidths.qty, 'right') + ' ' + pad('ReqID', colWidths.rid);\nconst separator = '-'.repeat(header.length);\n\nconst tgl = formatDate(createdAt);\nconst row = pad(tgl, colWidths.tgl) + ' ' + pad(user.substring(0, colWidths.user), colWidths.user) + ' ' + pad(item.substring(0, colWidths.item), colWidths.item) + ' ' + pad(String(qty), colWidths.qty, 'right') + ' ' + pad('#' + rid, colWidths.rid);\n\n// bangun teks pesan dengan code block monospace\nlet bodyText = '🔔 *REQUEST APPROVAL BARU*\\n\\n';\nbodyText += '```' + '\\n';\nbodyText += header + '\\n';\nbodyText += separator + '\\n';\nbodyText += row + '\\n';\nbodyText += '```' + '\\n\\n';\nbodyText += '*Balas dengan:*\\n';\nbodyText += '`ADM_APPR_APPROVE_' + rid + '`' + '\\n';\nbodyText += '`ADM_APPR_REJECT_' + rid + '`';\n\nreturn admins.map(a => ({ json: {\n  chat_id: a.json.telegram_id,\n  text: bodyText,\n}}));\n"
      },
      "id": "227f1533-b673-4570-b439-36ccffab37b1",
      "name": "Fmt: Notify Admins",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        3088
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "71b2c446-3ff0-44db-917b-f304dd95b26f",
      "name": "Send: Notify Each Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        3088
      ],
      "webhookId": "08f4b3aa-956a-46fd-9080-8b4f09637973",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT su.item_code, sg.name_item, su.quantity, su.updated_at\nFROM stock_users su\nJOIN stock_gudang sg ON su.item_code = sg.item_code\nWHERE su.user_id = (SELECT id FROM users WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}')\nAND su.quantity > 0 AND su.item_code != 'null'\nORDER BY su.item_code",
        "options": {}
      },
      "id": "39d11511-65fb-4ac2-840e-af2758e21c90",
      "name": "SQL: My Stock",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        8944
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rows = $input.all();\nlet txt = '🗃️ *STOCK SAYA*\\n\\n```\\n';\ntxt += 'Item               Qty\\n';\ntxt += '-----------------  ---\\n';\nif (!rows.length || !rows[0].json.item_code) {\n  txt = '📭 Anda belum memiliki stock.';\n} else {\n  rows.forEach(r => {\n    const item = (r.json.item_code||'-').substring(0,17).padEnd(17);\n\n    const qty  = String(r.json.quantity||0).padStart(3);\n    txt += `${item} ${qty}\\n`;\n  });\n  txt += '```';\n}\nreturn [{json:{ chat_id: $node[\"Normalize\"].json.chat_id, text: txt }}];\n"
      },
      "id": "f198a07c-276f-40a3-be69-0bb9e99eef1e",
      "name": "Fmt: My Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        8944
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b294c35b-7d96-4db1-861d-355bc161541c",
      "name": "Send: My Stock",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        8944
      ],
      "webhookId": "33b4f102-b752-46de-96f3-ae1a9045267a",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_user_states (telegram_id, current_state) VALUES ('{{ $node[\"Normalize\"].json.telegram_id }}', 'STAFF_RETURN_WAIT') ON DUPLICATE KEY UPDATE current_state='STAFF_RETURN_WAIT', state_data=NULL;",
        "options": {}
      },
      "id": "6bf9a4c6-a051-42cb-a6bb-d6b4431aff52",
      "name": "State: Set Return",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        9136
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "↩️ *RETURN ITEM*\n\nFormat:\n`ITEM_CODE QTY`\n\nContoh: `SSD 1`\n\nKetik /cancel untuk batal.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "513eef2e-c2c9-4ff1-a5ce-c7447df78386",
      "name": "Ask: Return Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        9136
      ],
      "webhookId": "80eb2585-ff96-4c16-bd23-41ebc34e8c37",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\S+)\\s+(\\d+)$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: SSD 1' } }];\nreturn [{ json: { error: false, item_code: m[1].toUpperCase(), qty: parseInt(m[2]) }}];\n"
      },
      "id": "ee15dd6b-f5f3-47bb-82c1-0ad350d32acd",
      "name": "Parse: Return Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        3376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "da78ca99-4857-4ac1-8f8f-e8fd30251d1f",
      "name": "If: Return Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        3376
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7754f2ba-451c-4026-9952-8ec112494be7",
      "name": "Send: Return Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        3568
      ],
      "webhookId": "513c9db9-2455-4d1e-bd7d-5044151115fa",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET @uid := (SELECT id FROM users WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}');\nUPDATE stock_users SET quantity=quantity-{{ $items(\"Parse: Return Input\")[0].json.qty }}\nWHERE user_id=@uid AND item_code='{{ $items(\"Parse: Return Input\")[0].json.item_code }}';\nDELETE FROM stock_users WHERE user_id=@uid\n  AND item_code='{{ $items(\"Parse: Return Input\")[0].json.item_code }}'\n  AND quantity<=0;\nUPDATE stock_gudang SET quantity=quantity+{{ $items(\"Parse: Return Input\")[0].json.qty }}\nWHERE item_code='{{ $items(\"Parse: Return Input\")[0].json.item_code }}';\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi)\nVALUES (@uid, '{{ $items(\"Parse: Return Input\")[0].json.item_code }}',\n  {{ $items(\"Parse: Return Input\")[0].json.qty }}, 'KEMBALIKAN', 'success');\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "b83da5cd-94b2-4fa7-a45b-12e41fb1579c",
      "name": "SQL: Process Return",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        3376
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ Item berhasil dikembalikan ke gudang!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "72b7fc48-948c-4e65-bf8e-57a5df65a9dc",
      "name": "Send: Return OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        3376
      ],
      "webhookId": "65d9d395-1c60-401d-82ef-690043387aaf",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Normalize\"].json.text.trim();\nconst re = /^(\\S+)\\s+(\\d+)\\s+(.+)$/;\nconst m  = text.match(re);\nif (!m) return [{ json: { error: true, msg: '❌ Format salah.\\nContoh: SSD 2 Laptop Engineering' } }];\nreturn [{ json: { error: false, item_code: m[1].toUpperCase(), qty: parseInt(m[2]), keterangan: m[3].trim() }}];\n"
      },
      "id": "8ebf6867-82f5-46cb-a7e4-cf016b341008",
      "name": "Parse: Alokasi Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        3760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c2c857a0-b073-46b7-b90c-47340433d42a",
      "name": "If: Alokasi Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        3760
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a42b4692-9e1c-48ec-8309-853514a719eb",
      "name": "Send: Alokasi Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        3952
      ],
      "webhookId": "deec1bd0-0927-4fc1-a07c-b7bf0c33bd9e",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET @uid := (SELECT id FROM users WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}');\nUPDATE stock_users SET quantity=quantity-{{ $items(\"Parse: Alokasi Input\")[0].json.qty }}\nWHERE user_id=@uid AND item_code='{{ $items(\"Parse: Alokasi Input\")[0].json.item_code }}';\nDELETE FROM stock_users WHERE user_id=@uid\n  AND item_code='{{ $items(\"Parse: Alokasi Input\")[0].json.item_code }}'\n  AND quantity<=0;\nINSERT INTO log_transaksi (user_id, item_code, quantity, tipe, status_transaksi)\nVALUES (@uid, '{{ $items(\"Parse: Alokasi Input\")[0].json.item_code }}',\n  {{ $items(\"Parse: Alokasi Input\")[0].json.qty }}, 'KEMBALIKAN', 'success');\nDELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "5e9198e9-6800-4688-8729-60997ab8383f",
      "name": "SQL: Process Alokasi",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        784,
        3760
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "✅ Alokasi berhasil dicatat!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "0c7858fb-6df8-461e-acd7-c9dcafe8e069",
      "name": "Send: Alokasi OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        3760
      ],
      "webhookId": "d0a771ed-4bc6-41db-83d2-103feb7c3b13",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM bot_user_states WHERE telegram_id='{{ $node[\"Normalize\"].json.telegram_id }}';",
        "options": {}
      },
      "id": "fecc5b04-2ac7-42df-9514-e531397b978b",
      "name": "SQL: Reset State (Cancel)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        112,
        8904
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "↩️ Operasi dibatalkan.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "2303bf3d-6923-4ea7-89e9-9191884b633c",
      "name": "Send: Cancelled",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        8904
      ],
      "webhookId": "71d49afb-df12-41c7-8448-dd5ec941926f",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "=❓ Command tidak dikenali.\n\nAdmin: /stock /users /history /so /approval /stockusers\nStaff: /stock /approval /alokasi",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "57e5273a-fff7-470c-a1be-cf2e9dd254ae",
      "name": "Send: Unknown Command",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1232,
        9360
      ],
      "webhookId": "bec1068c-d75c-492f-a319-ca1f47e65ad4",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "text": "=⏳ Request *{{ $json.item_code }}* x{{ $json.qty }} telah dikirim ke admin.\nTunggu approval untuk memproses.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "6555cdab-9c4a-4cec-86a2-d412ccfa8f36",
      "name": "Send: Ambil Request Sent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        2896
      ],
      "webhookId": "8f699525-a8e4-4dc5-8123-eaaf5045a6d1",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.name AS Nama_User,\n       l.item_code AS Kode_Item,\n       sg.name_item AS Nama_Item,\n       l.quantity AS Qty,\n       l.tipe AS Tipe_Transaksi,\n       l.status_transaksi AS Status,\n       DATE_FORMAT(l.created_at, '%d/%m/%Y %H:%i') AS Tanggal\nFROM log_transaksi l\nJOIN users u ON l.user_id = u.id\nLEFT JOIN stock_gudang sg ON l.item_code = sg.item_code\nWHERE l.item_code != 'null'\nORDER BY l.id DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        560,
        6256
      ],
      "id": "b126cde9-2fc6-427c-aadf-33c818a8277d",
      "name": "SQL: History All",
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "={{ 'Log_Transaksi_' + new Date().toISOString().substring(0,10) + '.xlsx' }}"
        }
      },
      "id": "3e17bf8b-f9ce-4ee2-9ee6-0ebcfab825fc",
      "name": "Generate Excel History",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        784,
        6256
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ '📊 Log Transaksi - ' + new Date().toLocaleDateString('id-ID') }}"
        }
      },
      "id": "67cba0d1-f545-4774-9078-ca2aa399141a",
      "name": "Send: Excel History",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        6256
      ],
      "webhookId": "fad3308d-e89a-43c2-b2a7-89a04452061f",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.name AS Nama_User,\n       u.role AS Role,\n       su.item_code AS Kode_Item,\n       sg.name_item AS Nama_Item,\n       su.quantity AS Qty_Dipegang,\n       DATE_FORMAT(su.updated_at, '%d/%m/%Y %H:%i') AS Tgl_Update\nFROM stock_users su\nJOIN users u ON su.user_id = u.id\nJOIN stock_gudang sg ON sg.item_code = su.item_code\nWHERE su.quantity > 0 AND su.item_code != 'null'\nORDER BY u.name ASC, su.item_code ASC",
        "options": {}
      },
      "id": "47cfc4ee-2ed8-4863-a6a2-c492059af6f0",
      "name": "SQL: StockUsers All",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        560,
        6640
      ],
      "credentials": {
        "mySql": {
          "id": "18YytLRcaee9SjCu",
          "name": "Inventory DB v.2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "={{ 'Stock_Per_User_' + new Date().toISOString().substring(0,10) + '.xlsx' }}"
        }
      },
      "id": "405dcfeb-2b08-439c-8c43-b8a8fa843611",
      "name": "Generate Excel StockUsers",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        784,
        6640
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $node[\"Normalize\"].json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ '🗃️ Stock Per User - ' + new Date().toLocaleDateString('id-ID') }}"
        }
      },
      "id": "81675e79-0560-4121-b760-8e9edf5dd52e",
      "name": "Send: Excel StockUsers",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        6640
      ],
      "webhookId": "a16d7a75-8f81-4d36-b149-92c3263c472b",
      "credentials": {
        "telegramApi": {
          "id": "StyO9oanG0if4z2Z",
          "name": "EDP-CRB Support"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Get User & State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User & State": {
      "main": [
        [
          {
            "node": "Is Active User?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Active User?": {
      "main": [
        [
          {
            "node": "Main Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Unauth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Router": {
      "main": [
        [
          {
            "node": "Route: State/Admin/Staff/Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: State/Admin/Staff/Cancel": {
      "main": [
        [
          {
            "node": "Switch State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Command Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Staff Command Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Reset State (Cancel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Command Router": {
      "main": [
        [
          {
            "node": "Switch Admin Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Staff Command Router": {
      "main": [
        [
          {
            "node": "Switch Staff Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Admin Command": {
      "main": [
        [
          {
            "node": "SQL: Admin Get Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get History",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "SQL: Get Pending Approvals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Get StockUsers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set AddItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set EditItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set DelItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set AddUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set EditUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set DelUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set AddSTU",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "State: Set DelSTU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Approve/Reject Callback",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Load: DelItem State Data",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Load: DelUser State Data",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Load: DelSTU State Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: History All",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: StockUsers All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Admin Get Stock": {
      "main": [
        [
          {
            "node": "Fmt: Admin Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: Admin Stock": {
      "main": [
        [
          {
            "node": "Send: Admin Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Users": {
      "main": [
        [
          {
            "node": "Fmt: Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: Users": {
      "main": [
        [
          {
            "node": "Send: Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get History": {
      "main": [
        [
          {
            "node": "Fmt: History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: History": {
      "main": [
        [
          {
            "node": "Send: History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Pending Approvals": {
      "main": [
        [
          {
            "node": "Fmt: Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: Pending Approvals": {
      "main": [
        [
          {
            "node": "Send: Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get StockUsers": {
      "main": [
        [
          {
            "node": "Fmt: StockUsers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: StockUsers": {
      "main": [
        [
          {
            "node": "Send: StockUsers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Staff Command": {
      "main": [
        [
          {
            "node": "SQL: Staff Get Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Staff Get Approvals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set Alokasi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set Ambil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: My Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State: Set Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Staff Get Stock": {
      "main": [
        [
          {
            "node": "Fmt: Staff Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: Staff Stock": {
      "main": [
        [
          {
            "node": "Send: Staff Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Staff Get Approvals": {
      "main": [
        [
          {
            "node": "Fmt: Staff Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: Staff Approvals": {
      "main": [
        [
          {
            "node": "Send: Staff Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set Alokasi": {
      "main": [
        [
          {
            "node": "Ask: Alokasi Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set AddItem": {
      "main": [
        [
          {
            "node": "Ask: Add Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch State": {
      "main": [
        [
          {
            "node": "Parse: Add Item Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Edit Item Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Del Item Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Add User Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Edit User Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Del User Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Add STU Input",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Parse: Del STU Input",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Parse: Ambil Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Return Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse: Alokasi Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Add Item Input": {
      "main": [
        [
          {
            "node": "If: AddItem Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: AddItem Error": {
      "main": [
        [
          {
            "node": "SQL: Insert Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: AddItem Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Insert Item": {
      "main": [
        [
          {
            "node": "Send: Add Item OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set EditItem": {
      "main": [
        [
          {
            "node": "Ask: Edit Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Edit Item Input": {
      "main": [
        [
          {
            "node": "If: EditItem Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: EditItem Error": {
      "main": [
        [
          {
            "node": "SQL: Update Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: EditItem Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Update Item": {
      "main": [
        [
          {
            "node": "Send: Edit Item OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set DelItem": {
      "main": [
        [
          {
            "node": "Ask: Del Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Del Item Input": {
      "main": [
        [
          {
            "node": "If: DelItem Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: DelItem Error": {
      "main": [
        [
          {
            "node": "State: Save DelItem Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: DelItem Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Save DelItem Data": {
      "main": [
        [
          {
            "node": "Confirm: Del Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load: DelItem State Data": {
      "main": [
        [
          {
            "node": "SQL: Delete Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Delete Item": {
      "main": [
        [
          {
            "node": "Send: Del Item OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set AddUser": {
      "main": [
        [
          {
            "node": "Ask: Add User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Add User Input": {
      "main": [
        [
          {
            "node": "If: AddUser Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: AddUser Error": {
      "main": [
        [
          {
            "node": "SQL: Insert User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: AddUser Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Insert User": {
      "main": [
        [
          {
            "node": "Send: Add User OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set EditUser": {
      "main": [
        [
          {
            "node": "Ask: Edit User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Edit User Input": {
      "main": [
        [
          {
            "node": "If: EditUser Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: EditUser Error": {
      "main": [
        [
          {
            "node": "SQL: Update User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: EditUser Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Update User": {
      "main": [
        [
          {
            "node": "Send: Edit User OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set DelUser": {
      "main": [
        [
          {
            "node": "Ask: Del User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Del User Input": {
      "main": [
        [
          {
            "node": "If: DelUser Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: DelUser Error": {
      "main": [
        [
          {
            "node": "State: Save DelUser Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: DelUser Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Save DelUser Data": {
      "main": [
        [
          {
            "node": "Confirm: Del User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load: DelUser State Data": {
      "main": [
        [
          {
            "node": "SQL: Deactivate User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Deactivate User": {
      "main": [
        [
          {
            "node": "Send: Del User OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set AddSTU": {
      "main": [
        [
          {
            "node": "Ask: Add STU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Add STU Input": {
      "main": [
        [
          {
            "node": "If: AddSTU Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: AddSTU Error": {
      "main": [
        [
          {
            "node": "SQL: Add StockUser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: AddSTU Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Add StockUser": {
      "main": [
        [
          {
            "node": "Send: Add STU OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set DelSTU": {
      "main": [
        [
          {
            "node": "Ask: Del STU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Del STU Input": {
      "main": [
        [
          {
            "node": "If: DelSTU Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: DelSTU Error": {
      "main": [
        [
          {
            "node": "State: Save DelSTU Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: DelSTU Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Save DelSTU Data": {
      "main": [
        [
          {
            "node": "Confirm: Del STU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load: DelSTU State Data": {
      "main": [
        [
          {
            "node": "SQL: Delete StockUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Delete StockUser": {
      "main": [
        [
          {
            "node": "Send: Del STU OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Approve/Reject Callback": {
      "main": [
        [
          {
            "node": "If: Is Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is Approve?": {
      "main": [
        [
          {
            "node": "SQL: Execute Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Execute Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Execute Approve": {
      "main": [
        [
          {
            "node": "Send: Approve OK to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify: User Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Execute Reject": {
      "main": [
        [
          {
            "node": "Send: Reject OK to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify: User Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set Ambil": {
      "main": [
        [
          {
            "node": "Ask: Ambil Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Ambil Input": {
      "main": [
        [
          {
            "node": "If: Ambil Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Ambil Error": {
      "main": [
        [
          {
            "node": "SQL: Create Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Ambil Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Create Approval Request": {
      "main": [
        [
          {
            "node": "SQL: Get Admin Telegram IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send: Ambil Request Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Get Admin Telegram IDs": {
      "main": [
        [
          {
            "node": "Fmt: Notify Admins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: Notify Admins": {
      "main": [
        [
          {
            "node": "Send: Notify Each Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: My Stock": {
      "main": [
        [
          {
            "node": "Fmt: My Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fmt: My Stock": {
      "main": [
        [
          {
            "node": "Send: My Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State: Set Return": {
      "main": [
        [
          {
            "node": "Ask: Return Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Return Input": {
      "main": [
        [
          {
            "node": "If: Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Return Error": {
      "main": [
        [
          {
            "node": "SQL: Process Return",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Process Return": {
      "main": [
        [
          {
            "node": "Send: Return OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Alokasi Input": {
      "main": [
        [
          {
            "node": "If: Alokasi Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Alokasi Error": {
      "main": [
        [
          {
            "node": "SQL: Process Alokasi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Alokasi Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Process Alokasi": {
      "main": [
        [
          {
            "node": "Send: Alokasi OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Reset State (Cancel)": {
      "main": [
        [
          {
            "node": "Send: Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Excel History": {
      "main": [
        [
          {
            "node": "Send: Excel History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: StockUsers All": {
      "main": [
        [
          {
            "node": "Generate Excel StockUsers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Excel StockUsers": {
      "main": [
        [
          {
            "node": "Send: Excel StockUsers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: History All": {
      "main": [
        [
          {
            "node": "Generate Excel History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "54534e51-ccdb-4499-b882-398d6de4d657",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb09c41ae337aa3d0c5f4b2ceeea66db5dac23bb7b83c1a997bc902a5109156a"
  },
  "id": "xVR0eyPZuSPhuEep",
  "tags": []
}